body {
    width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
header, nav, section, article, aside, footer {
    border: 1px gray solid;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}
section {
    grid-column: 1 / 2;
}

article {
    grid-column: 1 / 2;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

footer {
    margin-top: 10px;
}