*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    background: dimgray;
    color: whitesmoke;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}
.menu li {
    color: whitesmoke;
    cursor: pointer;
    padding: 5px 10px;
}
.menu li:hover {
    background: black;
    border-radius: 0;
    color: white;
}
.login{
    list-style: none;
}
.login li{
    color: whitesmoke;
    cursor: pointer;
    padding: 5px 10px;
}
.login li:hover {
    background: black;
    border-radius: 0;
    color: white;
}
.container {
    display: grid;
    grid-template-columns: 200px 1fr 250px;
    gap: 20px;
    padding: 0;
    background: #eee;
}
.left-sidebar {
    background: #eee;
    padding: 20px;
}
.left-sidebar a {
    display: block;
    color: #555;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: center;
}
.content {
    background: white;
    padding: 30px;
    min-height: 470px;
}


.right-sidebar {
    background: #eee;
    padding: 20px;
}

.ads {
    background: #f6f6f6;
    padding: 40px;
    border-radius: 6px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ddd;
}
.footer {
    background: #555;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 0;
}
@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
    .left-sidebar,
    .right-sidebar {
        order: 3;
    }
}
